USE [durgasofthotel]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 13.12.2022 14:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[DateBeginning] [datetime] NOT NULL,
	[DateExpiration] [datetime] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 13.12.2022 14:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](500) NOT NULL,
	[Birthday] [date] NOT NULL,
	[PhoneNumber] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 13.12.2022 14:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[FloorNumber] [nvarchar](50) NOT NULL,
	[RoomType] [int] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 13.12.2022 14:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[TypeRoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomType] [nvarchar](150) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[TypeRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [ClientId], [RoomId], [DateBeginning], [DateExpiration]) VALUES (1817, 4, 75, CAST(N'2020-06-18T00:00:00.000' AS DateTime), CAST(N'2020-06-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Booking] ([BookingId], [ClientId], [RoomId], [DateBeginning], [DateExpiration]) VALUES (1818, 4, 76, CAST(N'2021-06-10T00:00:00.000' AS DateTime), CAST(N'2021-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Booking] ([BookingId], [ClientId], [RoomId], [DateBeginning], [DateExpiration]) VALUES (1819, 4, 77, CAST(N'2021-10-03T00:00:00.000' AS DateTime), CAST(N'2021-10-10T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientId], [Fullname], [Birthday], [PhoneNumber]) VALUES (4, N'Олег Александров', CAST(N'1960-01-24' AS Date), N'(934)236-53-46')
INSERT [dbo].[Client] ([ClientId], [Fullname], [Birthday], [PhoneNumber]) VALUES (5, N'Оксана Андреева', CAST(N'1948-06-26' AS Date), N'(935)444-36-41')
INSERT [dbo].[Client] ([ClientId], [Fullname], [Birthday], [PhoneNumber]) VALUES (6, N'Вера Антонова', CAST(N'1943-02-28' AS Date), N'(985)471-81-28')
GO
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomId], [RoomNumber], [FloorNumber], [RoomType]) VALUES (75, 106, N'1', 3)
INSERT [dbo].[Room] ([RoomId], [RoomNumber], [FloorNumber], [RoomType]) VALUES (76, 201, N'2', 1)
INSERT [dbo].[Room] ([RoomId], [RoomNumber], [FloorNumber], [RoomType]) VALUES (77, 102, N'1', 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([TypeRoomId], [RoomType], [Price]) VALUES (1, N'Одноместный', 1500.0000)
INSERT [dbo].[RoomType] ([TypeRoomId], [RoomType], [Price]) VALUES (2, N'Одноместный люкс', 5000.0000)
INSERT [dbo].[RoomType] ([TypeRoomId], [RoomType], [Price]) VALUES (3, N'Двухместный с одной кроватью', 2500.0000)
SET IDENTITY_INSERT [dbo].[RoomType] OFF
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Client]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Room]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomType])
REFERENCES [dbo].[RoomType] ([TypeRoomId])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomType]
GO
